.git
.github
.phpunit.cache
.phpunit.result.cache
coverage
docker-compose*.yml
Makefile
tests
phpstan.neon
phpstan-baseline.neon
phpunit.xml
.env
.env.testing
.env.backup
.env.production
.dockerignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
node_modules
