includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 8
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
